header img {
    max-width: 105px;
}

body {
    padding-top: 100px;
}

.jumbotron img {
    max-width: 200px;
    margin-top: 100px;
}

.jumbotron {
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 200px;
}

#carousel img,
#second-carousel img {
    max-width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

#secondary-jumbotron {
    margin-top: 50px;
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 200px;
}

#secondary-jumbotron img {
    max-width: 200px;
    margin-top: 100px;
}

#first-section {
    margin-top: 100px;
}

#first-section img,
#second-section img {
    max-width: 100%;
}

#accessories .col-4,
#accessories .col-md-2 {
    filter: opacity(50%);
}

#accessories .col-4:hover,
#accessories .col-md-2:hover {
    border-bottom: 2px solid dodgerblue;
    margin-bottom: -2px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    filter: opacity(100%);
}

#ps-plus img {
    max-width: 100%;
}

#sales img {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}

#socials {
    padding-top: 50px;
    padding-bottom: 50px;
}

#socials .container {
    max-width: 600px;
}

footer img {
    max-width: 100%;
}

.btn:hover {
    box-shadow: 0px 0px 0px 2px black inset;
}

.btn-dark:hover,
.btn-primary:hover {
    box-shadow: 0px 0px 0px 2px white inset;
}

#carousel>div {
    margin-top: 10px;
}

#carousel>div:hover {
    transition: 0.5s;
    margin-top: 0;
}

.nav-item .text-secondary:hover,
.d-flex .text-secondary:hover {
    --bs-text-opacity: 1px;
}

.nav-item .dropdown-menu {
    min-width: 100vw;
    top: 74px;
    left: 0;
    text-align: center;
    border-top: 0;
    border-top-left-radius: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: static;
}

.dropdown-item {
    display: inline-block;
    width: 200px;
}


/* .nav-item:active .dropdown-menu {
    display: flex;
} */

.dropdown-menu .links {
    list-style: initial;
    color: dodgerblue;
}


/* COLOURS */

.bg-beige {
    background-color: #bebcbb;
}

.bg-blue {
    background-color: #00439c;
}

.bg-dark-blue {
    background-color: #161c3b;
}

.bg-dark-grey {
    background-color: #1f1f1f;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: black;
}