header img {
    max-width: 100px;
}

.b-red {
    border: 1px dotted red;
}

.row {
    padding-top: 20px;
}

.jumbotron {
    padding-top: 80px;
}


/* COLOURS */

.bg-black {
    background-color: black;
}